.upload-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
}

.select-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 14px;
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 14px;
  color: #333;
  margin: 1rem;
  color: white;
  border: 2px solid #ff000080; /* Green border */
  padding: 10px 15px; /* Padding */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

.file-input:focus {
  outline: none;
}

.file-input::-webkit-file-upload-button {
    color: white; /* Text color */
    background-color: #ff000080; /* Green background color */
    padding: 10px 15px; /* Padding */
    font-size: 12px; /* Font size */
  }