
.trapezoid1 {
  position: relative;
  background-color: white;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.trapezoid2 {
  position: relative;
  background-color: white;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.trapezoid3 {
  position: relative;
  background-color: white;
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
}
