.ul {
  margin-top: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .ul {
    max-width: 1200px;
  }
}
